@model Bio

<!-- nav start -->
<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-sticky d-flex justify-content-center align-items-center">
    <div class="container">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/img/logo/@Model.Logo" />
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">PRODUCT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Blog" asp-action="Index">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="About" asp-action="Index">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index">CONTACT</a>
                </li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Signup">SIGNUP</a>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" asp-area="AdminPanel" asp-controller="Dashboard" asp-action="Index">@User.Identity.Name</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Favorite" asp-action="Index">
                        <i class="far fa-heart"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Basket" asp-action="Index">
                        <i class="fas fa-shopping-cart"></i>
                       
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- nav end -->
