// NAV START
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  background-color: lightgray;
}
img {
  max-width: 100%;
  height: auto;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}

span {
  color: #c8a165 none repeat scroll 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #434343;
  font-family: "Lato", sans-serif;
  margin: 0 0 10px;
}

a {
  &::before {
    transition: all 0.3s ease 0s;
  }
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: white;
}
nav {
  a {
    img {
      width: 93px;
    }
  }
}
.padding-100 {
  padding: 100px 0px;
}

ul {
  list-style-type: none;
}

li a {
  padding: 20px;
  color: #233645;
  font-weight: 700;
  font-size: 15px;
}

.text {
  color: #dddddd;
}

.nav-item {
  a {
    &:hover {
      color: #c8a165 !important;
      transition: 0.4s;
    }
  }
}

.dropdown {
  &:hover {
    .dropdown-menu {
      position: relative;
      display: block;
      top: 33px;
    }
  }
}

// NAV END
//section carousel start
#carousel {
  #carouselExampleControls {
    .carousel-inner {
      .carousel-item {
        img {
          position: relative;
        }
        .layer {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.233);
        }
        .text-holder {
          position: absolute;
          top: 180px;
          right: 190px;
          color: white;
          h2 {
            font-weight: 300;
            font-size: 80px;
            line-height: 1;
            margin-bottom: 25px;
          }
          h4 {
            font-weight: 600;
            margin-bottom: 25px;
            font-size: 22px;
          }
          a {
            margin-top: 15px;
            margin-right: 5px;
            border-color: black;
            &:hover {
              background: #c8a165 none repeat scroll;
              transition: 0.3s;
            }
          }
        }
      }
    }
    .carousel-control-prev {
      position: absolute;
      left: -150px;
      transition: 0.3s;
    }
    .carousel-control-next {
      position: absolute;
      right: -150px;
      transition: 0.3s;
    }
    &:hover {
      .carousel-control-prev {
        position: absolute;
        left: 0;
        transition: 0.3s;
      }
      .carousel-control-next {
        position: absolute;
        right: 0;
        transition: 0.3s;
      }
      .btn {
        i {
          height: 30px;
          background: #ffffff;
          color: #1ebeb6;
          line-height: 30px;
          width: 30px;
          border-radius: 50%;
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }
}

#carousel:hover .btn-success {
  background-color: #1ebeb6;
}
.carousel {
  img {
    background-size: cover;
  }
}
//section carousel END
//BANNER AREA START
.single-banner {
  position: relative;
  transition: all 0.5s ease 0s;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .pro-label {
    left: 30px;
    position: absolute;
    top: 20px;
    z-index: 2;
    border-radius: 5px;
    color: #fff;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-transform: capitalize;
    background: #c8a165;

    .new-label {
      background: #c8a165 none repeat scroll 0 0;
    }
  }
  .banner-thumb {
    display: block;
  }
}

.price {
  color: #434343;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 9;
}

.banner-brief {
  bottom: 20px;
  left: 30px;
  position: absolute;
  .banner-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
}
.banner-thumb {
  .banner-brief {
    bottom: auto;
    left: 55%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.banner-3 {
  .banner-title {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
  }
}

.banner-3 {
  .banner-brief {
    bottom: auto;
    left: 55%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
a {
  color: black;
  &:hover {
    color: rgb(207, 123, 63);
    text-decoration: none;
    transition: 0.3s;
  }
}
.banner-1 {
  .button-one {
    background: #efefef none repeat scroll 0 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 15px;
  }
  .button-one {
    bottom: 20px;
    position: absolute;
    right: 30px;

    &::before {
      background: #c8a165 none repeat scroll 0 0;
      bottom: 0;
      color: #fff;
      content: attr(data-text);
      left: -100%;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      visibility: hidden;
      z-index: 11;
    }
    .button-one {
      &::after {
        border: 2px solid #d3d3d3;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
//BANNER AREA END

//PRODUCT AREA START
.text-center {
  position: relative;
  &::before {
    background: #c87065 none repeat scroll 0 0;
    bottom: -6 !important;
    top: 35px;
    content: "";
    height: 2px;
    left: 100;
    position: absolute;
    width: 50px;
  }
}
.pro-label {
  left: 30px;
  position: absolute;
  top: 20px;
  z-index: 2;
  border-radius: 5px;
  color: #fff;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  text-transform: capitalize;
  background: #c8a165;

  .new-label {
    background: #c8a165 none repeat scroll 0 0;
  }
}
.pro-price-2 {
  right: 47px;
  position: absolute;
  bottom: 489px;
  color: red;
  font-size: 21px;
}
.pro-rating {
  display: flex;
  justify-content: center;
  a {
    color: #c87065;
    font-size: 15px;
    line-height: 28px;
  }
}
.card-content {
  h4 {
    display: flex;
    justify-content: center;
  }
}
.product-action {
  display: flex;
  justify-content: center;
  background: #f6f6f6 none repeat scroll 0 0;
  margin-top: 15px;
  opacity: 1;
  position: inherit;
  visibility: visible;
  width: calc(100% - 0px);
  a {
    i {
      font-size: 30px;

      padding: 19px;
    }
  }
}
.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  width: max-content;
}
.owl-carousel .owl-dots .owl-dot span {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background: lightgray;
  position: relative;
  z-index: 1;
  border: 2px solid #cccccc;
}
.owl-carousel .owl-dots .active span {
  background: none !important;
}
.owl-carousel .owl-dots .active span:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 5px;
  width: 5px;
  transform: translate(-50%, -50%);
  background: #1ebeb6;
  border-radius: 50%;
}

//PRODUCT AREA END

//DISCOUNT START
#discount {
  .discount-product {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .discount-info {
    .h1 {
      font-size: 45px;
      font-weight: 900;
      line-height: 35px;
      margin-bottom: 15px;
    }
    .button-2 {
      font-size: 26px;
      &:hover {
        color: #c8a165;
        transition: all 0.3s ease 0s;
      }
    }
    .text-dark-red {
      color: #c87065;
    }
  }
  .up-comming-product {
    .text-centers {
      text-align: center;
    }
    .up-comming-info {
      .up-comming-brief {
        padding: 20px 64px 25px;
        .post-title {
          font-size: 20px;
          line-height: 18px;
          text-transform: uppercase;
          font-family: bree serif;
          margin-bottom: 5px;
          a {
            &:hover {
              color: #c8a165;
              transition: all 0.3s ease 0s;
            }
          }
        }
        .comming-pro-price {
          font-size: 20px;
          font-weight: 700;
          line-height: 15px;
          margin: 0;
        }
      }
      .count-down {
        .cdown {
          display: inline-block;
          margin: auto 15px;
          p {
            color: #8a8888;
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            margin: 10px 0 0;
            text-transform: capitalize;
          }
          .time-count {
            border: 2px solid #dfaba4;
            border-radius: 50%;
            color: #999999;
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            height: 40px;
            line-height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}

//DISCOUNT END

//PURCHASE START
#purchase {
  .card-content {
    h4 {
      font-size: 16px;
    }
  }
  .pro-price-1 {
    bottom: 331px;

    right: 10px;
  }
  .items {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 30px;
    padding: 15px 15px 25px;
    position: relative;
    bottom: -66px;
  }
  #myTab {
    position: relative;
    left: 360px;
    top: 24px;
  }
  .tab-menu li.active {
    &::before {
      background: #d3b484 none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 2px;
      position: absolute;
      width: 30px;
    }
  }
}
//PURCHASE END

//BLOG AREA START
#blog {
  .single-blog {
    background: #fff none repeat scroll 0 0;
    padding: 25px;
    transition: all 0.5s ease 0s;
    .blog-photo {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.5s ease 0s;
      }
    }
    .blog-info {
      .post-meta {
        padding: 30px 0 10px;
        .post-date {
          border: 1px solid #d6948c;
          height: 40px;
          line-height: 38px;
          text-align: center;
          width: 40px;
          span {
            font-size: 20px;
            font-weight: 700;
          }
        }
        .post-year {
          padding-left: 10px;
          p {
            position: absolute;

            bottom: 203px;
            left: 90px;
          }
        }
      }
      p {
        font-weight: 700;
      }
      .text-dark-red {
        color: #d6948c;
      }
    }
  }
}
//BLOG AREA END

//SHOP PAGE START
//HEADING START

#heading {
  .heading-banner {
    &::before {
      background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .heading-banner-title {
      h2 {
        position: relative;
        color: #fff;
        font-size: 45px;
        font-weight: 900;
        line-height: 33px;
        margin-bottom: 0;
        padding: 134px 0 101px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .breadcumbs {
      ul {
        overflow: hidden;
        li {
          &:first-child::after {
            content: "";
          }
        }
        li {
          color: #eee;
          display: inline-block;

          font-size: 14px;
          font-weight: 700;
          margin-left: 38px;
          position: relative;
          text-transform: uppercase;
          &::after {
            color: #fff;
            content: "/";
            left: -22px;
            position: absolute;
            top: 0;
          }
          a {
            color: #fff;
            display: block;
          }
        }
      }
    }
  }
}
//HEADING END
//SHOP PAGE END

//SINGLE BLOG AREA START
#blog {
  .single-blog {
    padding: 40px;
    .blog-photo {
      position: relative;
      a {
        img {
          width: 100%;
          transition: all 0.5s ease 0s;
        }
      }
      .like-share {
        background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
        bottom: 0px !important;
        padding-left: 20px;
        visibility: visible;
        position: absolute;
        transition: all 0.3s ease 0s;
        padding: 12px 0;
        width: 100%;

        a {
          color: #444;
          display: inline-block;
          float: none;
          font-size: 12px;
          line-height: 14px;
          margin-right: 20px;
        }
        .fas {
          padding: 0 8px 0 2px;
          display: inline-block;

          font-size: inherit;
        }
      }
    }
    .post-date {
      border: 1px solid #d6948c;
      height: 40px;
      line-height: 38px;
      text-align: center;
      width: 40px;
    }
    .post-date-2 {
      background: #fff none repeat scroll 0 0;
      height: 70px;
      left: 20px;
      line-height: inherit;
      padding: 12px 0 10px;
      position: absolute;
      top: 20px;
      width: 70px;
      font-size: 21px;
      .text-dark-red {
        color: #c87065;
      }
    }
    .blog-info {
      .post-title {
        a {
          font-size: 25px;
          text-transform: uppercase;
        }
      }
      p {
        font-weight: 400;
      }
      .post-share {
        span {
          margin-right: 20px;
        }
        a {
          color: #999;
          margin-right: 15px;
        }
      }
    }
  }
}

//SINGLE BLOG AREA END

//CONTACT START
#address {
  background: white !important;
  .form {
    strong {
      display: block;
      color: #1ebeb6 !important;
      margin-top: 5px;
      font-size: 32px;
    }
    .form-control {
      border: none !important;
      border-bottom: 1px solid #e7e7e7 !important;
      padding: 0;
      border-radius: inherit !important;
    }
    textarea {
      min-height: 150px;
      border: none !important;
    }
    a {
      border-radius: 30px;
      padding: 12px 35px;
    }
  }
}

.address-info {
  position: absolute;
  left: 30px;
  bottom: 0;
  padding: 30px;
  background: #ffffff;
  right: 30px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 30px;
      h5 {
        margin-bottom: 20px;
        i {
          margin-right: 5px;
          color: #1ebeb6;
          font-size: 30px;
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
//CONTACT END

//ABOUT AREA START
#about {
  background: white;

  .about-brief {
    margin-left: -200px;
    margin-top: 40px;
    min-height: 350px;
    padding: 40px 30px 30px 40px;
    background: #f6f6f6;

    h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      &::before {
        background: #eee none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 50px;
      }
    }
  }
}

//TEAM SECTION START
#team {
  .team-member {
    .single-member {
      padding: 30px 0px;
      transition: all 0.3s ease 0s;
      color: #666;
      font-family: "Lato", sans-serif;
      font-size: 20px;

      &::before {
        display: none;
      }

      .text-uppercase {
        text-transform: uppercase;
      }
      .text-gray {
        color: #999;
      }
      p {
        font-size: 13px;
      }
      .team-social {
        ul {
          display: flex;
          padding: 0px;
        }
      }
    }
  }
}
//TEAM SECTION END
//ABOUT AREA END
//FOOTER START
.footer {
  background: #eeeeee none repeat scroll 0 0;
  padding-top: 130px;
}
.footer-area {
  padding: 120px 0 75px;
}
.footer-title {
  font-size: 20px;
  font-weight: 900;
  line-height: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.title-border {
  position: relative;
  &::before {
    background: #c87065 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
  }
}

.footer-contact {
  li {
    color: #434343;
    font-family: "Lato", sans-serif;
    margin: 0 0 10px;

    display: block;
    overflow: hidden;
    padding-bottom: 15px;
    margin-left: -45px;
    span {
      float: left;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      width: 95px;
    }
  }
}

.footer-menu {
  li {
    a {
      color: #666666;
      line-height: 27px;
      margin-left: -63px;
      &:hover {
        color: #c8a165;
        text-decoration: none;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}
input[type="text"],
input[type="password"] {
  background: white none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  color: #999;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 20px;
  transition: all 0.5s ease 0s;
  width: 100%;
  outline: none;
}
button {
  .button-one {
    .submit-btn-4 {
      padding: 10px;
    }
  }
}

//FOOTER END
