
@{
    ViewData["Title"] = "Index";
}
<!-- MAIN START -->
<main>
    <section id="heading">
        <div class="heading-banner-area overlay-bg"
             style="
            background-image: url(img/bg/1.jpg);
            background-position: center;
            background-repeat: no-repeat;
          ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-banner">
                            <div class="heading-banner-title">
                                <h2>My Favorite</h2>
                            </div>
                            <div class="breadcumbs pb-15">
                                <ul>
                                    <li class="home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li>My Favorite</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION PURCHASE AREA START-->
    <section id="purchase" class="padding-100" style="overflow: hidden">
        <div class="container">
            <!-- Section-title start -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title-center">My Favorite Furnitures</h2>
                    </div>
                </div>

                <!-- Section-title end -->
                <div class="col-lg-12">
                    <div class="row">
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/2.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/3.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/6.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4>DUMMY PRODUCT NAME</h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/3.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/7.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/10.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/8.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/11.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/2.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/3.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/6.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                        <div class="col-lg-3">
                            <div class="items">
                                <div class="card">
                                    <div class="img-box">
                                        <span class="pro-label new-label">new</span>
                                        <span class="pro-price-2 pro-price-1">$ 56.20</span>
                                        <img src="img/product/3.jpg" alt="" />
                                    </div>
                                    <div class="card-content p-2">
                                        <h4><a asp-controller="Product" asp-action="Detail">DUMMY PRODUCT NAME</a></h4>
                                        <div class="fix">
                                            <span class="pro-rating">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Wishlist">
                                                <i class="far fa-heart"></i>
                                            </a>
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#productModal"
                                               title="Quick View">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION ITEM END -->
                        <!-- SECTION ITEM START -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION PURCHASE AREA END-->
</main>
<!-- MAIN END -->
