* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  background-color: lightgray;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  color: #c8a165 none repeat scroll 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #434343;
  font-family: "Lato", sans-serif;
  margin: 0 0 10px;
}

a::before {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: white;
}

nav a img {
  width: 93px;
}

.padding-100 {
  padding: 100px 0px;
}

ul {
  list-style-type: none;
}

li a {
  padding: 20px;
  color: #233645;
  font-weight: 700;
  font-size: 15px;
}

.text {
  color: #dddddd;
}

.nav-item a:hover {
  color: #c8a165 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown:hover .dropdown-menu {
  position: relative;
  display: block;
  top: 33px;
}

#carousel #carouselExampleControls .carousel-inner .carousel-item img {
  position: relative;
}

#carousel #carouselExampleControls .carousel-inner .carousel-item .layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.233);
}

#carousel #carouselExampleControls .carousel-inner .carousel-item .text-holder {
  position: absolute;
  top: 180px;
  right: 190px;
  color: white;
}

#carousel #carouselExampleControls .carousel-inner .carousel-item .text-holder h2 {
  font-weight: 300;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 25px;
}

#carousel #carouselExampleControls .carousel-inner .carousel-item .text-holder h4 {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 22px;
}

#carousel #carouselExampleControls .carousel-inner .carousel-item .text-holder a {
  margin-top: 15px;
  margin-right: 5px;
  border-color: black;
}

#carousel #carouselExampleControls .carousel-inner .carousel-item .text-holder a:hover {
  background: #c8a165 none repeat scroll;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carousel #carouselExampleControls .carousel-control-prev {
  position: absolute;
  left: -150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carousel #carouselExampleControls .carousel-control-next {
  position: absolute;
  right: -150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carousel #carouselExampleControls:hover .carousel-control-prev {
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carousel #carouselExampleControls:hover .carousel-control-next {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carousel #carouselExampleControls:hover .btn i {
  height: 30px;
  background: #ffffff;
  color: #1ebeb6;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 5px;
}

#carousel:hover .btn-success {
  background-color: #1ebeb6;
}

.carousel img {
  background-size: cover;
}

.single-banner {
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.single-banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.single-banner .pro-label {
  left: 30px;
  position: absolute;
  top: 20px;
  z-index: 2;
  border-radius: 5px;
  color: #fff;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  text-transform: capitalize;
  background: #c8a165;
}

.single-banner .pro-label .new-label {
  background: #c8a165 none repeat scroll 0 0;
}

.single-banner .banner-thumb {
  display: block;
}

.price {
  color: #434343;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 9;
}

.banner-brief {
  bottom: 20px;
  left: 30px;
  position: absolute;
}

.banner-brief .banner-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.banner-thumb .banner-brief {
  bottom: auto;
  left: 55%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-3 .banner-title {
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
}

.banner-3 .banner-brief {
  bottom: auto;
  left: 55%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

a {
  color: black;
}

a:hover {
  color: #cf7b3f;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner-1 .button-one {
  background: #efefef none repeat scroll 0 0;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 15px;
}

.banner-1 .button-one {
  bottom: 20px;
  position: absolute;
  right: 30px;
}

.banner-1 .button-one::before {
  background: #c8a165 none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  content: attr(data-text);
  left: -100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 11;
}

.banner-1 .button-one .button-one::after {
  border: 2px solid #d3d3d3;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.text-center {
  position: relative;
}

.text-center::before {
  background: #c87065 none repeat scroll 0 0;
  bottom: -6 !important;
  top: 35px;
  content: "";
  height: 2px;
  left: 100;
  position: absolute;
  width: 50px;
}

.pro-label {
  left: 30px;
  position: absolute;
  top: 20px;
  z-index: 2;
  border-radius: 5px;
  color: #fff;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  text-transform: capitalize;
  background: #c8a165;
}

.pro-label .new-label {
  background: #c8a165 none repeat scroll 0 0;
}

.pro-price-2 {
  right: 47px;
  position: absolute;
  bottom: 489px;
  color: red;
  font-size: 21px;
}

.pro-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pro-rating a {
  color: #c87065;
  font-size: 15px;
  line-height: 28px;
}

.card-content h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f6f6f6 none repeat scroll 0 0;
  margin-top: 15px;
  opacity: 1;
  position: inherit;
  visibility: visible;
  width: calc(100% - 0px);
}

.product-action a i {
  font-size: 30px;
  padding: 19px;
}

.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.owl-carousel .owl-dots .owl-dot span {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background: lightgray;
  position: relative;
  z-index: 1;
  border: 2px solid #cccccc;
}

.owl-carousel .owl-dots .active span {
  background: none !important;
}

.owl-carousel .owl-dots .active span:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 5px;
  width: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1ebeb6;
  border-radius: 50%;
}

#discount .discount-product img {
  max-width: 100%;
  height: auto;
}

#discount .discount-info .h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 35px;
  margin-bottom: 15px;
}

#discount .discount-info .button-2 {
  font-size: 26px;
}

#discount .discount-info .button-2:hover {
  color: #c8a165;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#discount .discount-info .text-dark-red {
  color: #c87065;
}

#discount .up-comming-product .text-centers {
  text-align: center;
}

#discount .up-comming-product .up-comming-info .up-comming-brief {
  padding: 20px 64px 25px;
}

#discount .up-comming-product .up-comming-info .up-comming-brief .post-title {
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: bree serif;
  margin-bottom: 5px;
}

#discount .up-comming-product .up-comming-info .up-comming-brief .post-title a:hover {
  color: #c8a165;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#discount .up-comming-product .up-comming-info .up-comming-brief .comming-pro-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 15px;
  margin: 0;
}

#discount .up-comming-product .up-comming-info .count-down .cdown {
  display: inline-block;
  margin: auto 15px;
}

#discount .up-comming-product .up-comming-info .count-down .cdown p {
  color: #8a8888;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 10px 0 0;
  text-transform: capitalize;
}

#discount .up-comming-product .up-comming-info .count-down .cdown .time-count {
  border: 2px solid #dfaba4;
  border-radius: 50%;
  color: #999999;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  width: 40px;
}

#purchase .card-content h4 {
  font-size: 16px;
}

#purchase .pro-price-1 {
  bottom: 331px;
  right: 10px;
}

#purchase .items {
  background: #fff none repeat scroll 0 0;
  margin-bottom: 30px;
  padding: 15px 15px 25px;
  position: relative;
  bottom: -66px;
}

#purchase #myTab {
  position: relative;
  left: 360px;
  top: 24px;
}

#purchase .tab-menu li.active::before {
  background: #d3b484 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  width: 30px;
}

#blog .single-blog {
  background: #fff none repeat scroll 0 0;
  padding: 25px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

#blog .single-blog .blog-photo {
  position: relative;
  overflow: hidden;
}

#blog .single-blog .blog-photo img {
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

#blog .single-blog .blog-info .post-meta {
  padding: 30px 0 10px;
}

#blog .single-blog .blog-info .post-meta .post-date {
  border: 1px solid #d6948c;
  height: 40px;
  line-height: 38px;
  text-align: center;
  width: 40px;
}

#blog .single-blog .blog-info .post-meta .post-date span {
  font-size: 20px;
  font-weight: 700;
}

#blog .single-blog .blog-info .post-meta .post-year {
  padding-left: 10px;
}

#blog .single-blog .blog-info .post-meta .post-year p {
  position: absolute;
  bottom: 203px;
  left: 90px;
}

#blog .single-blog .blog-info p {
  font-weight: 700;
}

#blog .single-blog .blog-info .text-dark-red {
  color: #d6948c;
}

#heading .heading-banner-area {
  background: rgba(0, 0, 0, 0) url(img/bg/1.jpg) no-repeat scroll center cover;
}

#heading .heading-banner-area .heading-banner .heading-banner-title h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  line-height: 33px;
  margin-bottom: 0;
  padding: 134px 0 101px;
  text-align: center;
  text-transform: uppercase;
}

#heading .heading-banner-area .heading-banner .breadcumbs ul {
  overflow: hidden;
}

#heading .heading-banner-area .heading-banner .breadcumbs ul li {
  color: #eee;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-left: 38px;
  position: relative;
  text-transform: uppercase;
}

#heading .heading-banner-area .heading-banner .breadcumbs ul li::after {
  color: #fff;
  content: "/";
  left: -22px;
  position: absolute;
  top: 0;
}

#heading .heading-banner-area .heading-banner .breadcumbs ul li a {
  color: #fff;
  display: block;
}

.footer {
  background: #eeeeee none repeat scroll 0 0;
  padding-top: 130px;
}

.footer-area {
  padding: 120px 0 75px;
}

.footer-title {
  font-size: 20px;
  font-weight: 900;
  line-height: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.title-border {
  position: relative;
}

.title-border::before {
  background: #c87065 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
}

.footer-contact li {
  color: #434343;
  font-family: "Lato", sans-serif;
  margin: 0 0 10px;
  display: block;
  overflow: hidden;
  padding-bottom: 15px;
  margin-left: -45px;
}

.footer-contact li span {
  float: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  width: 95px;
}

.footer-menu li a {
  color: #666666;
  line-height: 27px;
  margin-left: -63px;
}

.footer-menu li a:hover {
  color: #c8a165;
  text-decoration: none;
}

.footer-menu li a i {
  margin-right: 10px;
}

input[type="text"],
input[type="password"] {
  background: white none repeat scroll 0 0;
  border: medium none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #999;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  outline: none;
}

button .button-one .submit-btn-4 {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */